<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FYI Mileage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6129C96E1D9F12C700E46865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6129C9821D9F12C700E46865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6129C98D1D9F12C700E46865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
